$block
  margin-top: 20px
  padding: 10px 15px
  border-left: 5px solid;
  &::before
    display: block
    margin-bottom: 10px
    font-weight: bolder
  figure
    margin: 10px 0 !important

.danger-block
  @extend $block
  background-color: #ffe6e6
  border-color: #c00
  &::before
    content: '警告'
    color: #900

.warn-block
  @extend $block
  background-color: rgba(255,229,100,.3)
  border-color: #e7c000
  &::before
    content: '注意'
    color: #b29400

.tip-block
  @extend $block
  background-color: #f3f5f7
  border-color: #42b983
  &::before
    content: '提示'